{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins":[
    "transform-class-properties",
    ["transform-es2015-template-literals"],
    "react-hot-loader/babel",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime"],
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"]
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
